:root{
    --rosea: #FFD523;
    --powder-blue: #2C2E43;
    --cotton: red;
    --smoke: pink;
}

.btn-cyan{
    margin-left: 4px;
    color: var(--light);
    border-color: var(--cyan);
    background-color: var(--cyan);
    font-size: 0.6rem;
}

.btn-cyan-lg{
    margin-left: 4px;
    color: var(--light);
    border-color: var(--cyan);
    background-color: var(--cyan);

}

.card-title{
    margin-top: 5vh;
    width: 30rem;
    height: 15rem;
    align-content: center;

}

.main-content{
    margin-top: 3vh;   
}

.controlGrid{
    padding-left:30vh;
}

.btnGrid{
    padding-left:25%;
}

.sidebar{
    width: 200px;
    background-color: var(--powder-blue);
    padding-left: 3vh;
    padding-top: 3vh;
    height: auto;
    min-height: 600px;
}

.sidebar a{
    color: var(--rosea);
    font-size: 16px;
}

.fa-user{
    margin-right: 3px;
}

.rosea{
    color: var(--rosea) !important;
    
}

.bg-powder-blue{
    background-color: var(--powder-blue);
}

.user-info{
    font-size: 16px;

}

.brand-title{
    font-size: 32px;
    font-family: cursive;
}

.title-bar{
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.auth-controls{
    font-size: 17px;
    font-weight: bold;
}

.login-container{
    margin-top: 10vh;
}

.login-card{
    height: 45vh;

}

.thumbnail-container {
    padding-top:3vh;
}

.thumbnail {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.thumbnail img {
    width: 150;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.thumbnail .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: var(--cotton);
    cursor: pointer;
}

  /* Custom class for the form row */
  .custom-form-row {
    display: flex;
    align-items: flex-start; /* Align elements at the top of the row */
  }

  /* Custom class for the form group */
  .custom-form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  /* Custom class for the select element */
  .custom-form-select {
    height: 100%;
    width: 100%;
  }

  /* Custom class for the input element */
  .custom-form-input {
    width: 100%;
  }

  /* Custom class for the button */
  .custom-form-button {
    margin-top: auto; /* Align button to the bottom of the form group */
  }