{% extends 'portal/masterpage.html' %}

{% block content %}
<div class="contentDiv">
    <h2>Mais de 10 Anos de Excelência no Mercado Automotivo</h2>
  
  <section>
    <h3>Bem-vindo à Braga Motors</h3>
    <p>Uma referência no mercado de carros com mais de uma década de experiência e paixão por automóveis. Desde a nossa fundação, temos nos dedicado a oferecer aos nossos clientes uma experiência única, baseada em qualidade, confiança e atendimento excepcional.</p>
  </section>
  
  <section>
    <h3>Variedade de Veículos</h3>
    <p>Oferecemos um amplo estoque de veículos, incluindo carros novos e usados das mais renomadas marcas automotivas. Cada veículo passa por uma rigorosa inspeção de qualidade, garantindo que você tenha acesso a automóveis em excelente estado, com desempenho confiável e durabilidade.</p>
  </section>
  
  <section>
    <h3>Atendimento Personalizado</h3>
    <p>Nossa equipe de vendas altamente capacitada está pronta para auxiliá-lo em todas as etapas do processo de compra, desde a escolha do carro ideal até a conclusão da transação. Valorizamos suas necessidades e preferências específicas, ajudando-o a tomar uma decisão informada.</p>
  </section>
  
  <section>
    <h3>Financiamento</h3>
    <p>Oferecemos opções flexíveis de financiamento, para que você possa adquirir o carro dos seus sonhos de maneira conveniente e acessível.</p>
  </section>

</div>
{% endblock %}