{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Braga Motors</title>
    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script> 
    {% block imports %}
    {% endblock %}
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-color fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand textColorPrimary" href="{% url 'home' %}"><img class="image-logo" src="{% static "images/logo.png" %}"></img></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link textColorPrimary" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link textColorPrimary" href="{% url 'aboutView' %}">{% trans "About us" %}</a>
                    </li>
                    {% if context_company.whatsapp_number %}
                        <button type="button" class="btn btn-motors" onclick="window.open('https://api.whatsapp.com/send?phone=55{{context_company.whatsapp_number}}', '_blank')">
                            <i class="fab fa-whatsapp me-2 font-weight-bold"></i>
                            {% trans "Get in contact" %}
                        </button>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}
    
    <footer class="text-light py-3 bg-color navbar-bottom-fixed">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p class="mb-0 textColorPrimary"><i class="fas fa-map-marker-alt mr-2 textColorPrimary"></i>{{ context_shop.shopAddress }}
                    </p>
                </div>
                <div class="col-md-4 text-md-right">
                    {% if context_company.facebook_link %}
                        <a href="{{context_company.facebook_link}}"><i class="fab fa-facebook mr-3 textColorPrimary"></i></a>
                    {% endif %}
                    {% if context_company.instagram_link %}
                        <a href="{{context_company.instagram_link}}"><i class="fab fa-instagram mr-3 textColorPrimary"></i></a>
                    {% endif %}
                    {% if context_company.whatsapp_number %}
                        <a href="https://api.whatsapp.com/send?phone=55{{context_company.whatsapp_number}}"><i class="fab fa-whatsapp mr-2 textColorPrimary"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>

    </footer>
    <link rel="stylesheet" type="text/css" href="{% static 'portal/css/styles.css' %}">  
    <script src="{% static 'portal/js/vehicles.js' %}"></script> 
    <script src="{% static 'portal/js/stock.js' %}"></script> 
</body>