{% extends 'portal/masterpage.html' %}

{% load static %}

{% block imports %}
    
{% endblock %}

{% load i18n %}

{% block content %}
    <div class="contentDiv">
        <div class="row m-0">
            <div id="sidebar" class="col-lg-3 col-xs-12 sidebar sidebar-offcanvas">
                <div data-toggle="collapse" data-target="#form-filters" aria-controls="form-filters" id="collapse-control">
                    <h4>
                        <i class="fa fa-filter fa-solid fa-xs"></i>{% trans "Filter results" %}
                        <i class="fa fa-angle-down d-lg-none"></i>
                    </h4>
                </div>
                <form id="form-filters" class="collapse d-lg-block">
                    <div class="card-group-item">
                        <p class="filter-title page-header">{% trans "Type" %}</p>
                        <div class="filter-content">
                            <div class="card-body p-0">
                                <label class="form-check">
                                    <input class="form-check-input" type="radio" name="categoryRadio" value="C">
                                    <span class="form-check-label">
                                        {% trans 'Car' %}
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="radio" name="categoryRadio" value="M">
                                    <span class="form-check-label">
                                        {% trans 'Motorcycle' %}
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="card-group-item bo-">
                        <p class="filter-title page-header">{% trans "Price" %}</p>
                        <ul class="nav nav-sidebar filter-title">
                            <li>
                                <div class="input-group">
                                    <input class="mask-integer form-control text-right" 
                                        id="input_minPrice" placeholder="{% trans "From" %}" type="text" value=""
                                        maxlength="19">
                                    <input class="mask-integer form-control text-right"
                                        id="input_maxPrice" placeholder="{% trans "To" %}" type="text" value=""
                                        maxlength="19">
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="card-group-item">
                        <p class="filter-title page-header">KM</p>
                        <ul class="nav nav-sidebar filter-title">
                            <li>
                                <div class="input-group">
                                    <input class="mask-integer form-control text-right"
                                        id="input_minMileage" placeholder="{% trans "From" %}" type="text" value="" maxlength="19">
                                    <input class="mask-integer form-control text-right"
                                        id="input_maxMileage" placeholder="{% trans "To" %}" type="text" value="" maxlength="19">
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="card-group-item">
                        <p class="filter-title page-header">{% trans "Year" %}</p>
                        <div class="filter-content">
                            <div class="card-body p-0">
                                {% for year in possible_vehicle_years %}
                                    <label class="inline-form-check">
                                        <input class="form-check-input" type="checkbox" name="checkboxYear" value="{{ year }}">
                                        {{ year }}
                                    </label>                                    
                                {% endfor %}
                            </div> 
                        </div>
                    </div>
                </form>
            </div>
            <div id="vehiclesPanel" class="col-sx-12 col-lg-9 mb-5">
                {% include 'portal/vehiclesPanel.html' %}
            </div>
        </div>
    </div>
{% endblock %}