{% load i18n %}

<div class="row">
    {% for vehicle in vehicles %}
        <div class="col-lg-3 col-md-12" id="vehicleCard_ID_{{ vehicle.id }}" onclick="location.href='{% url 'vehicleView' %}?id={{ vehicle.id }}';">
            <div class="card card-car-margin">
                <div class="row box-vehicle-result no-padding no-margin">
                    <div class="car-img col-md-12 no-padding fit-col-img d-flex justify-content-center">
                            <img src="{{ vehicle.frontImageURL }}"
                                class="img-responsive lazy">
                        </a>
                    </div>
                    <div class="car-info col-md-12">
                        <div class="row">
                            <div class="col-md-12 pact-result">
                                <h2>
                                    <a href="{% url 'vehicleView' %}?id={{ vehicle.id }}"
                                        title="{% trans "See more details about the vehicle "%} {{ vehicle.vehicle_variant }}">
                                        <div class="year">{{ vehicle.manufacture_year }}</div>
                                        <div class="h4 first-name">{{ vehicle.vehicle_variant.vehicle_model }}</div>
                                        <div class="h3 second-name">{{ vehicle.vehicle_variant.variant_name }}</div>
                                    </a>
                                </h2>
                                    <h3 class="price indigo-text text-darken-4">R$
                                        {{ vehicle.sale_value_formatted }}
                                    </h3>
                                <div class="optionals">
                                    <div class="box-optionals-home">
                                        <div>
                                            <i class="fa fa-cog fa-xl"></i>
                                        </div>
                                        <div>
                                            {{ vehicle.transmission_formatted }}
                                        </div>
                                    </div>
                                    <div class="box-optionals-home">
                                        <div>
                                            <i class="fa fa-gauge fa-xl"></i>
                                        </div>
                                        <div>
                                            {{ vehicle.mileage_formatted }}
                                        </div>
                                    </div>
                                    <div class="box-optionals-home">
                                        <div>
                                            <i class="fa fa-tint fa-xl"></i>
                                        </div>
                                        <div>
                                            <span class="fuel-type-text">{{ vehicle.fuel_type_formatted }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}            
</div>
