{% extends 'portal/stock.html' %}
{% load i18n %}

{% block content %}
  <div class="container my-5">
    <div class="row" style="margin-top:13vh;">
      <div class="col-lg-8">
        <div class="container mt-3 mb-3">
          <div id="carCarousel" class="carousel slide h-50" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#carCarousel" data-slide-to="1"></li>
              <li data-target="#carCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              {% for image in vehicle_images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %} text-center">
                  <img
                    src="{{ image.fileURL }}"
                    alt="{{ vehicle.vehicle_variant }}" class="img-fluid rounded car-image-panel" />
                </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
        </div>

        <h3 class="page-header">{% trans "Vehicle details" %}</h3>
        <div class="car-observation-text">
          <p>{{ vehicle.salesman_observation|linebreaks }}</p>
        </div>

      </div>
      <div class="col-lg-4">
          <div class="card" style="padding:10px; margin-bottom:10px; background-color:var(--bgColorSecondary)">
          <h1 class="vehicle-title no-margin">
            <div class="first-name">{{ vehicle.vehicle_variant.vehicle_model }}</div>
            <div class="last-name">{{ vehicle.vehicle_variant.variant_name }} / {{ vehicle.model_year }}</div>
          </h1>
          <div class="box-price-detail">
            <h2 class="text-left price-detail text-nowrap">R$ {{ vehicle.sale_value_formatted }}</h2>
          </div>
          <div class="mb-3 pddng-0">
            <ul class="collection list-unstyled">
              <li class="collection-header">
                {% trans "Fab. year" %}<br>
                <span class="text-bold h6">{{ vehicle.manufacture_year }}</span>
              </li>
              <li class="collection-header">
                {% trans "Transmission" %}<br>
                <span class="text-bold h6">{{ vehicle.transmission_formatted }}</span>
              </li>
              <li class="collection-header">
                Km<br>
                <span class="text-bold h6">{{ vehicle.mileage_formatted }}</span>
              </li>
              <li class="collection-header">
                {% trans "Fuel" %}<br>
                <span class="text-bold h6">{{ vehicle.fuel_type_formatted }}</span>
              </li>
              <li class="collection-header">
                {% trans "Color" %}<br>
                <span class="text-bold h6">{{ vehicle.color }}</span>
              </li>
              <li class="collection-header">
                {% trans "Plate" %}<br>
                <span class="text-bold h6">{{ vehicle.maskedLicensePlate }}</span>
              </li>
            </ul>
        </div>
      </div>
        <div>
          <a class="btn-success btn btn-lg btn-block mb-3 text-uppercase"
            href="https://wa.me/{{ context_company.whatsapp_number_international }}?text={% trans "Hi, I saw the ad on the website and would like to know more about the "%}{{ vehicle.vehicle_variant }}. {% trans "I look forward to hearing from you, thank you!" %}"
            title="{% trans "Speak with us in the whatsapp" %}" target="_blank">
            <i class="fab fa-whatsapp"></i> {% trans "Speak with the store" %}
          </a>
        </div>

        <a class="btn btn-secondary btn-block btn-lg text-uppercase mb-3" href="tel:{{ company.masked_whatsapp_number }}">
          <i class="fas fa-phone"></i> {{ context_company.masked_whatsapp_number }}
        </a>
        <div class="card card-body card-default card-address margin-top-30 background-secondary">
          <address>
            <a class="textColorPrimary" href="https://www.google.com/maps/place/{{context_shop.shopAddress}}"
              target="_blank" class="btn btn-default pull-right"> <i class="fas fa-map-marker-alt"></i> {% trans "View in map" %}
            </a>
            <h4 class="page-header padding-top-10 textColorPrimary">{% trans "Location" %}</h4>
            <p class="mb-20 textColorPrimary">{{ context_shop.shopAddress }}</p>
        </div>
        </address>
      </div>
    </div>
  </div>
  </div>
{% endblock %}