{% extends 'erp/masterpage.html' %}
{% load i18n %}

{% block stylesheets %}
  {% include 'erp/datatables_import.html' %}
{% endblock %}

{% block content %}
  <form method="post" class="container-fluid">
    {% for field in automatic_fields %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
          <div class="errors">
            {% for error in field.errors %}
              <span class="error">{{ error }}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    {% csrf_token %}

    <div class="row">
      <div class="col-md-5 mb-3">
        <input type="text" id="itemInput" class="form-control" placeholder="{% trans 'Insert variant' %}">
      </div>
      <div class="col-md-7 mb-3">
        <button id="insertButton" class="btn btn-primary" type="button">{% trans 'Insert' %}</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mb-3">
        <table class="table table-bordered" id="variantsTable">
          <thead>
            <tr>
              <th style="width: 75%">{% trans 'Variant' %}</th>
              <th style="width: 25%">{% trans 'Remove' %}</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>

    <input type="text" id="table-data-field" name="variant_data" style="display:none;">

    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
  </form>

  <script>
    function convertTableToJSON(){
      let tableData = [];
      $('#variantsTable tbody tr').each(function() {
        rowData = $(this).find('td:first').text(); // Corrected selector
        tableData.push(rowData);
      });
  
      $('#table-data-field').val(JSON.stringify(tableData));      
    }

    $(document).ready(function() {
      var table = $('#variantsTable').DataTable({
        searching: false,
        lengthChange: false,
        paging: false,
        info: false,
        {% if variants_JSON != None%}
          data: JSON.parse('{{ variants_JSON|safe }}'),
        {% endif %}
        columns: [
        { data: 'variant' },
        { data: 'remove' }]
      });

      convertTableToJSON()

      // Insert Button Click Event
      $('#insertButton').on('click', function() {
        var itemValue = $('#itemInput').val();
        if (itemValue) {
          console.log(itemValue);
          table.row.add({ variant: itemValue, remove: '<button class="removeButton"><i class="fas fa-trash"></i></button>' }).draw();
          $('#itemInput').val(''); // Clear input field
        }

        convertTableToJSON();
      });

      // Remove Button Click Event
      $('#variantsTable tbody').on('click', '.removeButton', function() {
        var row = $(this).closest('tr');
        table.row(row).remove().draw();

        convertTableToJSON()
      });

      $('form').submit(function() {
        convertTableToJSON(); // Update the JSON before submitting the form
      });
    });
  </script>
{% endblock %}
