{% extends 'erp/masterpage.html' %}

{% block content %}
<form method="post">
  {% load i18n %}
  {% csrf_token %}

  <div class="form-group">
    <label for="id_brand">{% trans 'Brand' %}</label>
    <select name="brand" id="id_brand" class="form-control">
    </select>
  </div>

  <div class="form-group">
    <label for="id_model">{% trans 'Model' %}</label>
    <select name="vehicle_model" id="id_model" class="form-control" disabled>
      <option value="">---------</option>
    </select>
  </div>

  <div class="form-group">
    <label for="id_variant">{% trans 'Variant' %}</label>
    <select name="vehicle_variant" id="id_variant" class="form-control" disabled>
      <option value="">---------</option>
    </select>
  </div>

  {% for field in form %}
    {% if field.name != 'vehicle_variant' %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      {% if field.errors %}
      <div class="errors">
        {% for error in field.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}

  <button type="submit" class="btn btn-primary">Save</button>
</form>

<script>
    // Get the model and variant URLs
    var brandURL    = "{% url 'brand_json' %}";
    var modelUrl    = "{% url 'vehicle_model_json' %}";
    var variantUrl  = "{% url 'vehicle_model_variant_json' %}";

  function loadModel(brandId, defaultModel){
    if (brandId) {
        $("#id_model").prop("disabled", false);
        $("#id_variant").prop("disabled", true);
        $("#id_variant").val("");

        // Load models for the selected brand
        $.getJSON(modelUrl, { brand: brandId }, function (data) {
          let vehicle_models = JSON.parse(data);
          let options = "<option value=''>---------</option>";
          $.each(vehicle_models, function (index, model) {
            options += "<option value='" + model.pk + "'>" + model.fields.model_name + "</option>";
          });
          $("#id_model").html(options);

          if (defaultModel){
            $("#id_model").val(defaultModel);
            {% if vehicle.vehicle_variant != None %}
              loadVariant(defaultModel, {{vehicle.vehicle_variant.pk}});
            {% endif %}
          }
        });
      } else {
        $("#id_model").prop("disabled", true);
        $("#id_variant").prop("disabled", true);
        $("#id_model").val("");
        $("#id_variant").val("");
      }
  };

  function loadVariant(modelId, defaultVariant){
    if (modelId) {
      $("#id_variant").prop("disabled", false);
  
      // Load variants for the selected model
      $.getJSON(variantUrl, { vehicle_model: modelId }, function (data) {
        let options = "<option value=''>---------</option>";
        let variants = JSON.parse(data);
        $.each(variants, function (index, variant) {
          options += "<option value='" + variant.pk + "'>" + variant.fields.variant_name + "</option>";
        });
        $("#id_variant").html(options);

        if (defaultVariant){
          $("#id_variant").val(defaultVariant);
        }
      });
    } else {
      $("#id_variant").prop("disabled", true);
      $("#id_variant").val("");
    }
  };

  $(document).ready(function () {
    $.getJSON(brandURL, '', function (data) {
          let options = "<option value=''>---------</option>";
          let brands = JSON.parse(data);
          $.each(brands, function (index, brand) {
            options += "<option value='" + brand.pk + "'>" + brand.fields.brand_name + "</option>";
          });
          $("#id_brand").html(options);

          {% if vehicle_brand != None %}
            $("#id_brand").val("{{ vehicle_brand.pk }}");
            loadModel({{ vehicle_brand.pk }}, {{ vehicle.vehicle_variant.vehicle_model.pk }});
          {% endif %}

        });

    // Enable/disable the model and variant select fields
    $("#id_brand").change(function () {
      var brandId = $(this).val();
      loadModel(brandId, null);
    });

    // Load variants for the selected model
    $("#id_model").change(function () {
      var modelId = $(this).val();
      loadVariant(modelId, null);
    })
  });
</script>
{% endblock %}