{% extends 'erp/masterpage.html' %}

{% block stylesheets %}
  {% load static %}
  <script src="{% static 'erp/js/vehicle_edit.js' %}"></script> 

  {% include 'erp/datatables_import.html' %}
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
  {% load i18n %}
  {% csrf_token %}

  <div class="form-group">
    <label for="id_brand">{% trans 'Brand' %}</label>
    <select name="brand" id="id_brand" class="form-control">
    </select>
  </div>

  <div class="form-group">
    <label for="id_model">{% trans 'Model' %}</label>
    <select name="vehicle_model" id="id_model" class="form-control" disabled>
      <option value="">---------</option>
    </select>
  </div>

  <div class="form-group">
    <label for="id_variant">{% trans 'Variant' %}</label>
    <select name="vehicle_variant" id="id_variant" class="form-control" disabled>
      <option value="">---------</option>
    </select>
  </div>

  {% for field in form %}
    {% if field.name != 'vehicle_variant' %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      {% if field.errors %}
      <div class="errors">
        {% for error in field.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}

  <input type="file" name="images_input" multiple>
  <div class="card mt-3 mb-3">
    <div id="thumbnail-container" class="thumbnail-container card-body">
      {% for image in vehicle.images.all %}
        <div class="thumbnail">
          <img src="{{ image.file.url }}" alt="Thumbnail" data-id="{{ image.pk }}">
          <span class="delete-button" data-id="{{ image.pk }}">
              <i class="fas fa-trash"></i>
          </span>
        </div>
      {% endfor %}
  </div>
</div>

<div class="row custom-form-row mb-3">
  <div class="col-md-2 custom-form-group">
    <label for="vehicle_cost_type">Cost type</label>
    <select class="form-control custom-form-select" name="vehicle_cost_type" id="cost_type">
      <option value="">Select...</option>
      {% for cost in cost_types %}
        <option value="{{cost.pk}}">{{ cost }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-md-4 custom-form-group">
    <label for="cost_name">Cost name</label>
    <div class="input-group">
      <input type="text" id="cost_name" class="form-control custom-form-input" placeholder="Enter cost name">
    </div>
  </div>
  <div class="col-md-2 custom-form-group">
    <label for="cost_name">Value</label>
    <div class="input-group">
      <input type="number" id="cost_value" class="form-control custom-form-input">
    </div>
  </div>
  <div class="col-md-2 custom-form-group">
    <label for="cost_name">Date</label>
    <div class="input-group">
      <input type="date" id="expense_date" class="form-control custom-form-input">
    </div>
  </div>
  <div class="col-md-1 custom-form-group custom-form-button">
    <button id="insertButton" class="btn btn-primary" type="button">Add</button>
  </div>
</div>


<div class="row">
  <div class="col-md-12 mb-3">
    <table class="table table-bordered" id="costTable">
      <thead>
        <tr>
          <th data-field="cost_name" style="width: 30%">Cost name</th>
          <th data-field="cost_type_id" style="display:none;"></th>
          <th data-field="cost_type_name" style="width: 30%">Type</th>
          <th data-field="cost_value" style="width: 20%">Value</th>
          <th data-field="expense_date" style="width: 10%">Date</th>
          <th data-field="delete" style="width: 10%">Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for cost in vehicle.costs.all %}
          <tr>
            <td>{{cost.cost_name}}</td>
            <td>{{cost.cost_type.pk}}</td>
            <td>{{cost.cost_type}}</td>
            <td>{{cost.value}}</td>
            <td>{{cost.expense_date|date:'Y-m-d'}}</td>
            <th><button class="removeButton"><i class="fas fa-trash"></i></button></th>
          </tr>
        {% endfor %}
      <tbody>
      </tbody>
    </table>
  </div>
</div>

  <input type="text" id="table-data-field" name="vehicle_cost_data" style="display:none;">

  <button type="submit" class="btn btn-primary">Save</button>
</form>

<script>
  const fileInput = document.querySelector('input[name="images_input"]');
  fileInput.addEventListener('change', handleFileSelect);

  function convertTableDataToArray(tableId) {
    const table = document.getElementById(tableId);
    const headers = Array.from(table.querySelectorAll('th'));
    const rows = Array.from(table.querySelectorAll('tbody tr'));
    const dataArray = [];
  
    rows.forEach(row => {
      const rowData = {};
  
      Array.from(row.querySelectorAll('td')).forEach((cell, index) => {
        const fieldName = headers[index].getAttribute('data-field');
        if (fieldName != "delete"){
          rowData[fieldName] = cell.textContent;
        }
      });
  
      dataArray.push(rowData);
    });
  
    return dataArray;
  }

  function convertTableToJSON(){
    let tableData = [];
    tabledata = convertTableDataToArray("costTable")
    console.log(tabledata);

    $('#table-data-field').val(JSON.stringify($('#costTable').DataTable().data().toArray()));      
  } 

  $(document).ready(function () {
    var brandURL    = "{% url 'brand_json' %}";
    var modelUrl    = "{% url 'vehicle_model_json' %}";
    var variantUrl  = "{% url 'vehicle_model_variant_json' %}";
    var listURL     = "{% url 'vehicle_list' %}"

    setUpEndpoints(brandURL, modelUrl, variantUrl, listURL);

    loadBrand({{ vehicle_brand.pk|default:"null" }}, {{ vehicle.vehicle_variant.vehicle_model.pk|default:"null" }}, {{ vehicle.vehicle_variant.pk|default:"null" }})

    $("#id_brand").change(function () {
      var brandId = $(this).val();
      loadModel(brandId, null, null);
    });

    // Load variants for the selected model
    $("#id_model").change(function () {
      var modelId = $(this).val();
      loadVariant(modelId, null);
    })

    insertedFiles = [];
    existingFilesIDs = [];

    var allImages = $('img');

    // Loop through the selected <img> elements
    allImages.each(function(index) {
      // Do something with each <img> element, for example, access its attributes
      let data_id = $(this).attr('data-id');

      if (data_id){
        existingFilesIDs.push(data_id)
      };
    });

    thumbnailDivs = $('.thumbnail');

    thumbnailDivs.each(function() {
          var thumbnail = this; // 'this' refers to the current thumbnail div

          // Find the delete button inside the current thumbnail div
          var deleteButton = $(thumbnail).find('.delete-button');

          // Add a click event listener to the delete button
          deleteButton.on('click', function() {
            let emptyName = "";
            handleDeleteImage($(this).data("id"), thumbnail, emptyName); 
          });
      });
 
      const form = document.querySelector("form");
 
      form.addEventListener("submit", function (event) {
        event.preventDefault();
        submitWithFiles(form);
      });

        var table = $('#costTable').DataTable({
          searching: false,
          lengthChange: false,
          paging: false,
          info: false,
          {% if variants_JSON != None%}
            data: JSON.parse('{{ variants_JSON|safe }}'),
          {% endif %}
          columns: [
          { data: 'cost_name'},
          { data: 'cost_type_id', visible:false },
          { data: 'cost_type_name' },
          { data: 'cost_value'},
          { data: 'expense_date'},
          { data: 'remove' }]
        });

      $('#insertButton').on('click', function() {
        let cost_type_id      = $('#cost_type option:selected').val()
        let cost_type_name    = $('#cost_type option:selected').text()
        let cost_name         = $('#cost_name').val();
        let cost_value        = $('#cost_value').val();
        let expense_date      = $('#expense_date').val();

        if (cost_type && cost_name) {
          table.row.add({ cost_type_id: cost_type_id, 
                          cost_type_name:cost_type_name,
                          cost_name: cost_name, 
                          cost_value: cost_value,
                          expense_date: expense_date,
                          remove: '<button class="removeButton"><i class="fas fa-trash"></i></button>' }).draw();
          $('#cost_type').val('');
          $('#cost_name').val(''); 
          $('#cost_value').val(''); 
          $('#cost_date').val(''); 
        }

        convertTableToJSON();
      });

      // Remove Button Click Event
      $('#costTable tbody').on('click', '.removeButton', function() {
        var row = $(this).closest('tr');
        table.row(row).remove().draw();

        convertTableToJSON();
      });
  });
</script>
{% endblock %}