<!DOCTYPE html>
<html>

<head>
    <title>CRUD Selection List</title>
    <!-- Include DataTables CSS and JS -->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json"></script>
</head>

<body>
    {% load i18n %}
    <div class="container">
        <div class="row mb-3 d-flex flex-row-reverse">
            <a href="{{ dataTable.insertViewURL }}">
                <button type="button" class="btn btn-primary">{% trans 'Insert' %}</button>
            </a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            {% for column in dataTable.columns %}
                                <th>{{column}}</th>
                            {% endfor %}
                            {% if dataTable.editViewURL != None %}
                                <th></th>
                            {% endif %}
                            {% if dataTable.deleteViewURL != None %}
                                <th></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in dataTable.rows %}
                        <tr>
                            {% for value in row.values %}
                            <td>{{value|safe}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Initialize DataTables -->
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json'
                }
            });
        });

        function callDelete(URL) {
            // Get the CSRF token from the cookie
            var csrftoken = getCookie('csrftoken');
        
            // Send the POST request with the CSRF token
            $.ajax({
                url: URL,
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: function(response) {
                    // Handle the response from the server if needed
                    // Perform any desired actions after successful deletion
                    location.reload();
                },
                error: function(xhr, status, error) {
                    // Handle the error if needed
                    console.error(xhr.responseText);
                }
            });
        
            // Function to retrieve the CSRF token from the cookie
            function getCookie(name) {
                var cookieValue = null;
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Check if the cookie name matches the CSRF token cookie name
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        // Extract the CSRF token value
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
                return cookieValue;
            }
        }
        
           
    </script>
</body>

</html>