<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% include 'erp/imports.html' %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% load i18n %}
    <nav class="navbar navbar-expand-md navbar-light bg-powder-blue shadow-sm">
        <div class="container title-bar">
            <a class="navbar-brand brand-title" href="">
                <p class="rosea title-bar"><i class="fas fa-car"></i>RICARS</p>
            </a>
        </div>
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item dropdown">  
                        <a id="navbarDropdown" class="nav-link dropdown-toggle rosea auth-controls" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>                                    
                           <i class="fas fa-user"></i>{{ request.user.name }}<span class="caret"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                Logoff
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
    </nav>
    <div class="row mw-90" style="max-width: 100%;">
        <div id="sidebar" class="sidebar float-left col-md-2">
            <div class="items-container ml-1">
                <a href="{% url 'brand_list' %}"><i class="fas fa-flag"></i> {% trans 'Brands' %}</a><hr>
                <a href="{% url 'color_list' %}"><i class="fas fa-tint"></i> {% trans 'Colors' %}</a><hr>
                <a href="{% url 'vehicle_model_list' %}"><i class="fas fa-car"></i> {% trans 'Models' %}</a><hr>
                <a href="{% url 'vehicle_cost_type_list' %}"><i class="fas fa-dollar-sign"></i> {% trans 'Vehicular cost' %}</a><hr>
                <a href="{% url 'vehicle_list' %}"><i class="fas fa-check-circle"></i> {% trans 'Stock' %}</a><hr>
            </div>
        </div>
        <div class="content main-content col-md-10">
            {% block content %}{% endblock %}
        </div>
        </div>
</div>
</body>
